
<!DOCTYPE html>
<html>
<head>
  <script src="../../node_modules/react/dist/react.js"></script>
  <script src="../../node_modules/react-dom/dist/react-dom.js"></script>
  <script src="../../node_modules/jquery/dist/jquery.js"></script>
  <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/css/blokus.css" rel="stylesheet"/>
  <script src="../js/main.js"></script>
    </head>


  <meta charset="utf-8">
  <title>Blokus</title>
</head>
<body>
  <div id="example"/>
</body>
</html>
